.contact-me {
  margin-top: 50px;
}

.my-message {
  margin-top: 10px;
  margin-bottom: 10px;
}

.warning-message {
  color: #f1948a;
}

@media screen and (max-width: 768px) {
  .field {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
