.contact-me {
  margin-top: 50px;
}

.my-message {
  margin-top: 10px;
  margin-bottom: 10px;
}

.warning-message {
  color: #f1948a;
}

.section-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
