.home-hero {
  padding-top: 150px;
  margin-bottom: 0;
}

.columns {
  padding: 0;
}

.home-hero > * {
  width: 60%;
}

.intro {
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 65vh;
}

.profile_picture {
  width: 250px;
  border-radius: 125px;
  position: absolute;
  top: 30vh;
}

.large-hi {
  display: block;
  position: absolute;
  top: 60vh;
}

.small-hi {
  display: none;
}

@media screen and (max-width: 768px) {
  .profile_picture {
    width: 150px;
    border-radius: 125px;
    position: absolute;
    top: 15vh;
  }
  .large-hi {
    display: none;
  }

  .small-hi {
    display: block;
    position: absolute;
    top: 45vh;
  }

  .intro {
    top: 60vh;
  }
}
